
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            background-color: #f4f4f4;
            font-family: Arial, sans-serif;
        }

        div {
            text-align: center;
            padding: 20px;
            border: 2px solid #db2a17;
            border-radius: 8px;
            background-color: #ffffff;
        }

        p:first-child {
            font-weight: bold;
            color: #ff1900;
            font-size: 1.2em;
            margin-bottom: 10px;
        }
   